.drivershedulecontainer{
    margin-top: 100px;
}

.driver-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .driverschedule-container {
    margin-top: 150px;
    width: 90%;
    max-width: 800px;
  }
  
  .route-list {
    list-style-type: none;
    padding: 0;
  }
  
  .route-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .route-item h2 {
    margin: 0 0 10px;
  }
  
  .route-details {
    margin-top: 10px;
  }

  .mark-completed-btn{
    margin-left: 50px;
    margin-top: 20px;
    background-color: lightseagreen;

  }

  .mark-completed-btn:hover{
    background-color: lightgreen;
  }
  
  @media (max-width: 600px) {
    .driverschedule-container {
      width: 100%;
      padding: 10px;
    }

    .mark-completed-btn{
      margin-left: 50px;
      margin-top: 20px;
  
    }

    .view-route-btn{
      margin-left: 50px;
      margin-top: 20px;
    }
  
    .route-item {
      padding: 15px;
    }
  }
  