.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher z-index to appear above other content */
}

.modal-content {
    background: #f9f9f9; /* Light background for the modal */
    color: #333; /* Dark text color */
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content h2 {
    margin: 0 0 20px;
    font-size: 1.5em; /* Adjust the font size */
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Adjust icon size */
    color: #ff5c5c; /* Red color for the close icon */
}

.close-button:hover {
    color: #d9534f; /* Darker red on hover */
}

.modal-content label {
    display: block;
    margin-bottom: 15px; /* Add space between label and select */
}

.button-container {
    margin-top: 20px; /* Space above the update button */
}

.update-button {
    background-color: rgb(9, 40, 219); /* Blue background for update button */
    color: white; /* White text for update button */
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width */
}

.update-button:hover {
    background-color: rgb(12, 35, 164); /* Darker blue on hover */
    color: white;
}
